{% extends "base.html" %}

{% block body_block %}
<div class="container customcontainer">
    <h1>This page shows the school details</h1>
</div>

<div class="container customcontainer">
    <p>Note: you could have template inheritance from base.html or cbv_app_base.html: in this case it
        inherits from base.html, but if you want more info on how to inherit from cbv_app_base.html see the relative file!
    </p>
</div>

<div class="container customcontainer">
    <h3>School details:</h3>
    <p>Name: {{school_detail.name}}</p>
    <p>Principal: {{school_detail.principal}}</p>
    <p>Location: {{school_detail.location}}</p>
</div>

<div class="container customcontainer">
    <h3>Students of this School:</h3>
    <!-- Where does the .students.all come from? In the model Student we have added a related_name variable "students" -->
    {% for student in school_detail.students.all %}
    <p>{{student.name}} who is {{student.age}} years old.</p>
    {% endfor %}
</div>

<div class="container" style="padding: 1rem; margin: 1rem;">
    <a href="{% url 'cbv_app:update_school' pk=school_detail.pk %}" class="btn btn-warning">Update</a>
</div>

<div class="container" style="padding: 1rem; margin: 1rem;">
    <a href="{% url 'cbv_app:delete_school' pk=school_detail.pk %}" class="btn btn-danger">Delete</a>
</div>

{% endblock %}
